body{
  overflow: hidden;
  background-color: white;
  margin-right: 20px;
}
.container{
  width: 250px;
  height: 250px;
  background-color: #F0DB4F;
  border-radius: 5px;
  text-align: center;
  position: relative;
  transform: translate(40%, 35%);
}
h1{
  font-size: 150px;
  font-family: Poppins;
  font-weight: bolder;
  text-indent: 4pc;
  transform: translateY(30%);
  color: #323330;
}
.text-logo{
  position: absolute;
  bottom: 3.5pc;
  font-family: Poppins;
  font-size: 100px;
  font-weight: bolder;
  text-indent: 18pc;
  text-shadow: 5px 5px 3px lightgrey;
}
